
.page{
   background-color: #f2f2b0;
   height: 100%;
   width: 100%;
}
.header{
    position:"fixed";
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    z-index: 1000;
    background: #d9cf8d;
    color: #82ae46;
    font-family:"UD 新ゴ M";

}

.headertext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.nav{
    display:flex;
    
}

.nav a{
    list-style: none;
    cursor: pointer;
    float: left;
    padding: 33px 20px;
}

.title{
    font-size: 2em;
    font-weight: bold;
}

/* pxで高さを指定 */
.content{
    width: 100%;
    height: calc(100vh - 70px); /* headerの高さを引く */
}

